@model edxl_cap_v1_2.Models.ContentViewModels.Area

<div align="left">
    <h3>Details</h3>
</div>
<div align="left">
    <h4>Area</h4>
    <hr style="background-color:black; height: 2px" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaDesc)
        </dt>
        <dd style="text-align: left">
            @Html.DisplayFor(model => model.AreaDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Polygon)
        </dt>
        <dd style="text-align: left">
            @Html.DisplayFor(model => model.Polygon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Circle)
        </dt>
        <dd style="text-align: left">
            @Html.DisplayFor(model => model.Circle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Geocode)
        </dt>
        <dd style="text-align: left">
            @Html.DisplayFor(model => model.Geocode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Altitude)
        </dt>
        <dd style="text-align: left">
            @Html.DisplayFor(model => model.Altitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ceiling)
        </dt>
        <dd style="text-align: left">
            @Html.DisplayFor(model => model.Ceiling)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataCategory_Id)
        </dt>
        <dd style="text-align: left">
            @Html.DisplayFor(model => model.DataCategory_Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alert_Identifier)
        </dt>
        <dd style="text-align: left">
            @Html.DisplayFor(model => model.Alert_Identifier)
        </dd>
        <dd>
        </dd>
    </dl>
</div>
    <div>
        @*<a asp-action="Edit" asp-route-id="@Model.AreaIndex">Edit</a>*@

        <button onclick="goBack()">Go Back</button>

        <script>
        function goBack() {
            window.history.back();
        }
        </script>
    </div>
