@model IEnumerable<edxl_cap_v1_2.Models.Alert>
@using edxl_cap_v1_2.Models

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CapCategoryLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h3>Alert</h3>

    <style>
        tr:nth-child(even) {
            background-color: lightBlue;
        }

        tr:nth-child(odd) {
            background-color: white;
        }
    </style>

    <table id="elementTable" class="smallText">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="start">start
                </td>
                <td>
                    &nbsp;&nbsp;element:<br>
                    &nbsp;&nbsp;@Html.DisplayNameFor(model => model.Alert_Identifier)<text>*</text>
                    @if (Element.Required == true)
                    {
                        <text>*</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <div id="elementInput">

                        @if (Element.DatatypeSize < 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayNameFor(model => model.Alert_Identifier) value
                                <input type="text" name="elementValue" value="@Html.DisplayFor(modelItem => item.Alert_Identifier)" size="25" />
                            </span>
                        }
                        else if (Element.DatatypeSize > 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayNameFor(model => model.Alert_Identifier) value
                                <textarea name="elementValue" rows="4" value="@Html.DisplayFor(modelItem => item.Alert_Identifier)" cols="25">
                                </textarea>
                            </span>
                        }
                    </div>
                </td>
                <td>
                    @if (Element.Repeatable == true)
                    {
                        <input type="radio" name="repeatElement" value="repeat" /><text>&nbsp; repeat</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-controller="alerts" method="post"
                     asp-route-id="@item.AlertIndex"><input type="submit" value="add element"></a>

                    @*<form asp-area="" asp-controller="alerts" asp-action="Details" method="post" asp-route-id="@item.AlertIndex">
                        <input type="hidden"
                               name="elementId"
                               value="${element.ElementIndex}">
                        <input type="submit"
                               value="add element">
                    </form>*@
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlertIndex">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.AlertIndex">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="start">start
                </td>
                <td>
                    &nbsp;&nbsp;element:<br>
                    &nbsp;&nbsp;@Html.DisplayNameFor(modelItem => item.Sender)<text>*</text>
                    @if (Element.Required == true)
                    {
                        <text>*</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <div id="elementInput">

                        @if (Element.DatatypeSize < 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayNameFor(modelItem => item.Sender) value
                                <input type="text" name="elementValue" value="@Html.DisplayFor(modelItem => item.Sender)" size="25" />
                            </span>
                        }
                        else if (Element.DatatypeSize > 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayFor(modelItem => item.Sender) value
                                <textarea name="elementValue" rows="3" value="@Html.DisplayFor(modelItem => item.Sender)" cols="25">
                            </textarea>
                            </span>
                        }
                    </div>
                </td>
                <td>
                    @if (Element.Repeatable == true)
                    {
                        <input type="radio" name="repeatElement" value="repeat" /><text>&nbsp; repeat</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <form asp-area="" asp-controller="alerts" asp-action="Details" method="post" asp-route-id="@item.AlertIndex">
                        <input type="hidden"
                               name="elementId"
                               value="${element.ElementIndex}">
                        <input type="submit"
                               value="add element">
                    </form>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlertIndex">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.AlertIndex">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="start">start
                </td>
                <td>
                    &nbsp;&nbsp;element:<br>
                    &nbsp;&nbsp;@Html.DisplayNameFor(model => model.Sent)<text>*</text>
                    @if (Element.Required == true)
                    {
                        <text>*</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <div id="elementInput">

                        @if (Element.DatatypeSize < 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayNameFor(model => model.Sent) value
                                <input type="text" name="elementValue" value="@Html.DisplayFor(modelItem => item.Sent)" size="25" />
                            </span>
                        }
                        else if (Element.DatatypeSize > 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayNameFor(model => model.Sent) value
                                <textarea name="elementValue" rows="3" value="@Html.DisplayFor(modelItem => item.Sent)" cols="25">
                                </textarea>
                            </span>
                        }
                    </div>
                </td>
                <td>
                    @if (Element.Repeatable == true)
                    {
                        <input type="radio" name="repeatElement" value="" /><text>&nbsp; repeat</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <form asp-area="" asp-controller="alerts" asp-action="Details" method="post" asp-route-id="@item.AlertIndex">
                        <input type="hidden"
                               name="elementId"
                               value="${element.id}">
                        <input type="submit"
                               value="add element">
                    </form>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlertIndex">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.AlertIndex">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="start">start
                </td>
                <td>
                    &nbsp;&nbsp;element:<br>
                    &nbsp;&nbsp;@Html.DisplayNameFor(model => model.Status)<text>*</text>
                    @if (Element.Required == true)
                    {
                        <text>*</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <div id="elementInput">

                        <span class="smallText">
                            Select&nbsp; status
                            <select name="status">
                                <option>Actual</option>
                                <option>Exercise</option>
                                <option>System</option>
                                <option>Test</option>
                                <option>Draft</option>
                            </select>
                        </span>
                    </div>
                </td>
                <td>
                    @if (Element.Repeatable == true)
                    {
                        <input type="radio" name="repeatElement" value="" /><text>&nbsp; repeat</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <form asp-area="" asp-controller="alerts" asp-action="Details" method="post" asp-route-id="@item.AlertIndex">
                        <input type="hidden"
                               name="elementId"
                               value="${element.ElementIndex}">
                        <input type="submit"
                               value="add element">
                    </form>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlertIndex">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.AlertIndex">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="start">start
                </td>
                <td>
                    &nbsp;&nbsp;element:<br>
                    &nbsp;&nbsp;@Html.DisplayNameFor(model => model.MsgType)<text>*</text>
                    @if (Element.Required == true)
                    {
                        <text>*</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <div id="elementInput">
                        <span class="smallText">
                            Select&nbsp; msgType
                            <select name="msgType">
                                <option>Alert</option>
                                <option>Update</option>
                                <option>Cancel</option>
                                <option>Ack</option>
                                <option>Error</option>
                            </select>
                        </span>
                    </div>
                </td>
                <td>
                    @if (Element.Repeatable == true)
                    {
                        <input type="radio" name="repeatElement" value="" /><text>&nbsp; repeat</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <form asp-area="" asp-controller="alerts" asp-action="Details" method="post" asp-route-id="@item.AlertIndex">
                        <input type="hidden"
                               name="elementId"
                               value="${element.ElementIndex}">
                        <input type="submit"
                               value="add element">
                    </form>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlertIndex">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.AlertIndex">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="start">start
                </td>
                <td>
                    &nbsp;&nbsp;element:<br>
                    &nbsp;&nbsp; @Html.DisplayNameFor(model => model.Source)
                    @if (Element.Required == true)
                    {
                        <text>*</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <div id="elementInput">

                        @if (Element.DatatypeSize < 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayNameFor(model => model.Source) value
                                <input type="text" name="elementValue" value="@Html.DisplayFor(modelItem => item.Source)" size="25" />
                            </span>
                        }
                        else if (Element.DatatypeSize > 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayNameFor(model => model.Source) value
                                <textarea name="elementValue" rows="3" value="@Html.DisplayFor(modelItem => item.Source)" cols="25">
                                </textarea>
                            </span>
                        }
                    </div>
                </td>
                <td>
                    @if (Element.Repeatable == true)
                    {
                        <input type="radio" name="repeatElement" value="" /><text>&nbsp; repeat</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <form asp-area="" asp-controller="alerts" asp-action="Details" method="post" asp-route-id="@item.AlertIndex">
                        <input type="hidden"
                               name="elementId"
                               value="${element.ElementIndex}">
                        <input type="submit"
                               value="add element">
                    </form>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlertIndex">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.AlertIndex">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="start">start
                </td>
                <td>
                    &nbsp;&nbsp;element:<br>
                    &nbsp;&nbsp;@Html.DisplayNameFor(model => model.Scope)
                    @if (Element.Required == true)
                    {
                        <text>*</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <div id="elementInput">
                        <span class="smallText">
                            Select&nbsp; scope
                            <select name="scope">
                                <option>Public</option>
                                <option>Restricted</option>
                                <option>Private</option>
                            </select>
                        </span>
                    </div>
                </td>
                <td>
                    @if (Element.Repeatable == true)
                    {
                        <input type="radio" name="repeatElement" value="" /><text>&nbsp; repeat</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <form asp-area="" asp-controller="alerts" asp-action="Details" method="post" asp-route-id="@item.AlertIndex">
                        <input type="hidden"
                               name="elementId"
                               value="${element.ElementIndex}">
                        <input type="submit"
                               value="add element">
                    </form>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlertIndex">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.AlertIndex">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="start">start
                </td>
                <td>
                    &nbsp;&nbsp;element:<br>
                    &nbsp;&nbsp;@Html.DisplayNameFor(model => model.Restriction)
                    @if (Element.Required == true)
                    {
                        <text>*</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <div id="elementInput">

                        @if (Element.DatatypeSize < 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayNameFor(model => model.Restriction) value
                                <input type="text" name="elementValue" value="@Html.DisplayFor(modelItem => item.Restriction)" size="25" />
                            </span>
                        }
                        else if (Element.DatatypeSize > 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayNameFor(model => model.Restriction) value
                                <textarea name="elementValue" rows="3" value="@Html.DisplayFor(modelItem => item.Restriction)" cols="25">
                                </textarea>
                            </span>
                        }
                    </div>
                </td>
                <td>
                    @if (Element.Repeatable == true)
                    {
                        <input type="radio" name="repeatElement" value="" /><text>&nbsp; repeat</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <form asp-area="" asp-controller="alerts" asp-action="Details" method="post" asp-route-id="@item.AlertIndex">
                        <input type="hidden"
                               name="elementId"
                               value="${element.ElementIndex}">
                        <input type="submit"
                               value="add element">
                    </form>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlertIndex">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.AlertIndex">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="start">start
                </td>
                <td>
                    &nbsp;&nbsp;element:<br>
                    &nbsp;&nbsp;@Html.DisplayNameFor(model => model.Addresses)
                    @if (Element.Required == true)
                    {
                        <text>*</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <div id="elementInput">

                        @if (Element.DatatypeSize < 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayNameFor(model => model.Addresses) value
                                <input type="text" name="elementValue" value="@Html.DisplayFor(modelItem => item.Addresses)" size="25" />
                            </span>
                        }
                        else if (Element.DatatypeSize > 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayNameFor(model => model.Addresses) value
                                <textarea name="elementValue" rows="3" value="@Html.DisplayFor(modelItem => item.Addresses)" cols="25">
                                </textarea>
                            </span>
                        }
                    </div>
                </td>
                <td>
                    @if (Element.Repeatable == true)
                    {
                        <input type="radio" name="repeatElement" value="" /><text>&nbsp; repeat</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <form asp-area="" asp-controller="alerts" asp-action="Details" method="post" asp-route-id="@item.AlertIndex">
                        <input type="hidden"
                               name="elementId"
                               value="${element.ElementIndex}">
                        <input type="submit"
                               value="add element">
                    </form>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlertIndex">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.AlertIndex">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="start">start
                </td>
                <td>
                    &nbsp;&nbsp;element:<br>
                    &nbsp;&nbsp;@Html.DisplayNameFor(model => model.Code)
                    @if (Element.Required == true)
                    {
                        <text>*</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <div id="elementInput">

                        @if (Element.DatatypeSize < 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayNameFor(model => model.Code) value
                                <input type="text" name="elementValue" value="@Html.DisplayFor(modelItem => item.Code)" size="25" />
                            </span>
                        }
                        else if (Element.DatatypeSize > 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayNameFor(model => model.Code) value
                                <textarea name="elementValue" rows="3" value="@Html.DisplayFor(modelItem => item.Code)" cols="25">
                                </textarea>
                            </span>
                        }
                    </div>
                </td>
                <td>
                    @if (Element.Repeatable == true)
                    {
                        <input type="radio" name="repeatElement" value="" /><text>&nbsp; repeat</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }    <input type="radio" name="repeatElement" value="" /><text>&nbsp; repeat</text>
                </td>
                <td>
                    <form asp-area="" asp-controller="alerts" asp-action="Details" method="post" asp-route-id="@item.AlertIndex">
                        <input type="hidden"
                               name="elementId"
                               value="${element.ElementIndex}">
                        <input type="submit"
                               value="add element">
                    </form>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlertIndex">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.AlertIndex">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="start">start
                </td>
                <td>
                    &nbsp;&nbsp;element:<br>
                    &nbsp;&nbsp;@Html.DisplayNameFor(model => model.Note)
                    @if (Element.Required == true)
                    {
                        <text>*</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <div id="elementInput">

                        @if (Element.DatatypeSize < 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayNameFor(model => model.Note) value
                                <input type="text" name="elementValue" value="@Html.DisplayFor(modelItem => item.Note)" size="25" />
                            </span>
                        }
                        else if (Element.DatatypeSize > 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayNameFor(model => model.Note) value
                                <textarea name="elementValue" rows="3" value="@Html.DisplayFor(modelItem => item.Note)" cols="25">
                                </textarea>
                            </span>
                        }
                    </div>
                </td>
                <td>
                    @if (Element.Repeatable == true)
                    {
                        <input type="radio" name="repeatElement" value="" /><text>&nbsp; repeat</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <form asp-area="" asp-controller="alerts" asp-action="Details" method="post" asp-route-id="@item.AlertIndex">
                        <input type="hidden"
                               name="elementId"
                               value="${element.id}">
                        <input type="submit"
                               value="add element">
                    </form>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlertIndex">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.AlertIndex">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="start">start
                </td>
                <td>
                    &nbsp;&nbsp;element:<br>
                    &nbsp;&nbsp;@Html.DisplayNameFor(model => model.References)
                    @if (Element.Required == true)
                    {
                        <text>*</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <div id="elementInput">

                        @if (Element.DatatypeSize < 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayNameFor(model => model.References) value
                                <input type="text" name="elementValue" value="@Html.DisplayFor(modelItem => item.References)" size="25" />
                            </span>
                        }
                        else if (Element.DatatypeSize > 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayNameFor(model => model.References) value
                                <textarea name="elementValue" rows="3" value="@Html.DisplayFor(modelItem => item.References)" cols="25">
                                    </textarea>
                            </span>
                        }
                    </div>
                </td>
                <td>
                    @if (Element.Repeatable == true)
                    {
                        <input type="radio" name="repeatElement" value="" /><text>&nbsp; repeat</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <form asp-area="" asp-controller="alerts" asp-action="Details" method="post" asp-route-id="@item.AlertIndex">
                        <input type="hidden"
                               name="elementId"
                               value="${element.ElementIndex}">
                        <input type="submit"
                               value="add element">
                    </form>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlertIndex">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.AlertIndex">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="start">start
                </td>
                <td>
                    &nbsp;&nbsp;element:<br>
                    &nbsp;&nbsp;@Html.DisplayNameFor(model => model.Incidents)
                    @if (Element.Required == true)
                    {
                        <text>*</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <div id="elementInput">

                        @if (Element.DatatypeSize < 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayNameFor(model => model.Incidents) value
                                <input type="text" name="elementValue" value="@Html.DisplayFor(modelItem => item.Incidents)" size="25" />
                            </span>
                        }
                        else if (Element.DatatypeSize > 49)
                        {
                            <span class="smallText">
                                Enter @Html.DisplayNameFor(model => model.Incidents) value
                                <textarea name="elementValue" rows="3" value="@Html.DisplayFor(modelItem => item.Incidents)" cols="25">
                                    </textarea>
                            </span>
                        }
                    </div>
                </td>
                <td>
                    @if (Element.Repeatable == true)
                    {
                        <input type="radio" name="repeatElement" value="" /><text>&nbsp; repeat</text>
                    }
                    else
                    {
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    <form asp-area="" asp-controller="alerts" asp-action="Details" method="post" asp-route-id="@item.AlertIndex">
                        <input type="hidden"
                               name="elementId"
                               value="${element.ElementIndex}">
                        <input type="submit"
                               value="add element">
                    </form>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlertIndex">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.AlertIndex">Delete</a>
                </td>
            </tr>

        }

    </table>

</body>

    <p style="font-size:x-small;padding:2px;text-align:center;color:#ffffff"> * = required &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;repeat button is for multiple-use elements. </p>

</html>
